---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import home from "../images/home.jpg";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => (b.data.pubDate || 0).valueOf() - (a.data.pubDate || 0).valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header transparent />
    <div class="flex items-center justify-center flex-col">
      <div
        class="relative p-2 h-fit w-full background-red-500 flex items-center justify-center"
      >
        <Image
          class="max-h-[1200px] w-auto"
          loading={"eager"}
          src={home}
          alt=""
        />
        <span
          class="absolute inset-0 flex flex-col text-[var(--accent)] gap-0 font-extrabold justify-center items-center z-10"
        >
          <p
            class="m-0 uppercase text-2xl xs:text-4xl sm:text-6xl lg:text-7xl xl:text-9xl"
          >
            Lace Up.
          </p>
          <p
            class="m-0 uppercase text-2xl xs:text-4xl sm:text-6xl lg:text-7xl xl:text-9xl"
          >
            Run Happy.
          </p>
          <p
            class="m-0 uppercase text-2xl xs:text-4xl sm:text-6xl lg:text-7xl xl:text-9xl"
          >
            Crush Goals.
          </p>
          <a href="/blog" class="!text-white">
            <p
              class="text-white text-md flex font-medium m-0 items-center group"
            >
              Explore <Icon
                class="hover:text-red-500 group-hover:translate-x-2 transition-transform"
                name="radix-icons:arrow-right"
              />
            </p>
          </a>
        </span>
      </div>
    </div>
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <div class="h-min overflow-hidden rounded-md mb-5">
                    <Image

                      class="aspect-video rounded-md hover:scale-125 transition-all duration-500 cursor-pointer"
                      src={post.data.heroImage}
                      alt=""
                    />
                  </div>

                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    { post.data.pubDate && <FormattedDate date={post.data.pubDate} /> } 
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }

      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </body>
</html>
