---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import home from "../images/home.jpg";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { getImage } from "astro:assets";

const posts = (await getCollection("blog")).sort(
  (a, b) => (b.data.pubDate || 0).valueOf() - (a.data.pubDate || 0).valueOf()
);

const optimizedBackground = await getImage({ src: home, format: "webp" });
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-background">
    <div
      class="h-[90vh] bg-cover bg-no-repeat relative bg-background"
      style={`background-image: url(${optimizedBackground.src}); background-position: bottom;`}
    >
      <div class="z-20 fixed top-0 left-0 right-0 transition-all" id="header">
        <Header transparent />
      </div>
      <span
        class="absolute text-center inset-0 flex flex-col text-[hsl(var(--accent))] gap-0 font-extrabold justify-center items-center z-10"
      >
        <p
          class="m-0 !leading-[0.8] uppercase text-5xl sm:text-7xl md:text-8xl lg:text-9xl"
        >
          Lace Up.
        </p>
        <p
          class="m-0 !leading-[0.8] uppercase text-5xl sm:text-7xl md:text-8xl lg:text-9xl"
        >
          Run Happy.
        </p>
        <p
          class="m-0 !leading-[0.8] uppercase text-5xl sm:text-7xl md:text-8xl lg:text-9xl"
        >
          Crush Goals.
        </p>
        <a href="/blog" class="!text-white">
          <p class="text-white text-md flex font-medium m-0 items-center group">
            Explore the blog <Icon
              class="hover:text-red-500 group-hover:translate-x-2 transition-transform"
              name="radix-icons:arrow-right"
            />
          </p>
        </a>
      </span>
    </div>

    <main>
      <section>
        <ul
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-5"
        >
          {
            posts.map((post, index) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <div class="h-min overflow-hidden rounded-md mb-5">
                    <Image
                      loading={index < 5 ? "eager" : "lazy"}
                      class="aspect-video rounded-md hover:scale-125 transition-all duration-500 cursor-pointer"
                      src={post.data.heroImage}
                      alt=""
                      format="webp"
                      quality={80}
                      srcset={`${post.data.heroImage.src}?w=600 600w, ${post.data.heroImage.src}?w=1200 1200w`}
                      sizes="(max-width: 768px) 600px, 1200px"
                      transition:name={`hero-${post.slug}`}
                    />
                  </div>

                  <p class="title text-foreground">{post.data.title}</p>
                  <p class="date">
                    {post.data.pubDate && (
                      <FormattedDate date={post.data.pubDate} />
                    )}
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <style>
      main {
        width: min(2000px, 100%);
      }
      ul {
        gap: 2rem;
        margin: 0;
        padding: 0;
        justify-content: space-around;
      }
      ul li {
        width: 100%;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }

      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover p.title,
      ul li a:hover .date {
        color: hsl(var(--accent));
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </body>
</html>
