---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import Comments from "@/components/Comments.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  includeComments = true,
  comments,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: 100%;
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        margin: auto;
        padding: 1em;
        color: hsl(var(--foreground));
        display: grid;
        grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
        grid-column-gap: 32px;

        @media (max-width: 640px) {
          grid-template-columns: 1fr min(60ch, calc(100% - 0px)) 1fr;
          grid-column-gap: 0px;
        }
      }

      .prose > :global(*),
      :global(.tight) {
        grid-column: 2;
        width: 100%;
      }

      :global(.full-bleed) {
        width: 100%;
        grid-column: 1 / 4;
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body class="bg-background">
    <div class="relative bg-background" id="header">
      <div class="z-20 sticky top-0 transition-all" id="header">
        <Header transparent />
      </div>
      <main class="!pt-0 bg-background">
        <article>
          <div class="hero-image">
            {
              heroImage && (
                <Image
                  loading={"eager"}
                  width={1020}
                  height={574}
                  src={heroImage}
                  alt=""
                />
              )
            }
          </div>
          <div
            class="prose !p-0 md:p-[1em] max-w-[calc(100%)] md:max-w-[calc(100%_-_2em)] justify-items-center"
          >
            <div class="title">
              <div class="date">
                {pubDate && <FormattedDate date={pubDate} />}
                {
                  updatedDate && (
                    <div class="last-updated-on">
                      Last updated on <FormattedDate date={updatedDate} />
                    </div>
                  )
                }
              </div>
              <h1 class="text-foreground">{title}</h1>
              <hr />
            </div>
            <slot />
          
          </div>
          </article>
          {
            includeComments && (
              <hr class="mb-10 max-w-[60ch] m-auto" />
              <Comments
              post={title}
              comments={comments}
              doneText="Comment sent!"
              />
            )
          }
      </main>
      <Footer />
    </div>
  </body>
</html>
